<h1>Listing test_objects</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th>Published</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_objects.each do |test_object| %>
      <tr>
        <td><%= test_object.subject %></td>
        <td><%= test_object.body %></td>
        <td><%= test_object.published %></td>
        <td><%= link_to 'Show', test_object %></td>
        <td><%= link_to 'Edit', edit_test_object_path(test_object) %></td>
        <td><%= link_to 'Destroy', test_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test object', new_test_object_path %>
