<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @test_object.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @test_object.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @test_object.published %>
</p>

<%= link_to 'Edit', edit_test_object_path(@test_object) %> |
<%= link_to 'Back', test_objects_path %>
